.login-background {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(195, 164, 78), rgba(193, 147, 88, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(212, 210, 114), rgb(193, 147, 88));
  height: 100vh; /* Ensure it takes up the full viewport height */
  display: flex; /* Center the content */
  justify-content: center;
  align-items: center;
}



/* Disable hover effects on buttons */
.no-hover:hover {
  background-color: inherit !important; /* Disable color change on hover */
  color: inherit !important; /* Disable text color change on hover */
}


